<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   notes.plist
   NoteTaking

   Created by John Wong on 5/11/2016.
   Copyright (c) 2016年 VTC_peak. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
